.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: none;
        grid-template-rows: 0.5fr 1fr;
    }
}

.container_img{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.options_content{
    display: flex;
    justify-content: center;
}

.options_table{
    border-collapse: collapse;
    width: 100%;
}

.options_table th, 
.options_table td {  
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;  
    text-align: left;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.options_table a{
    padding: 0.3rem;
    background-color: yellowgreen;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    text-align: center;
}