    --app-drawer-width: 240px;
    --ytd-persistent-guide-width: 240px;
    --ytd-permission-role-bottom-bar-height: 30px;
    --ytd-mini-guide-width: 72px;
    --app-drawer-content-container-background-color: var( --yt-spec-base-background );
    --ytd-masthead-height-accounting-for-hidden: var( --ytd-masthead-height-absolute,var(--ytd-toolbar-height) );
    --ytd-app-fullerscreen-scrollbar-width: 15px;
    --ytd-masthead-height: 56px;
    --ytd-masthead-height-absolute: 56px;
    --ytd-network-status-banner-display: unset;
    --ytd-toolbar-offset: var(--ytd-masthead-height,var(--ytd-toolbar-height));
    --ytd-watch-flexy-sidebar-width: 402px;
    --ytd-watch-flexy-sidebar-min-width: 300px;
    --ytd-watch-flexy-masthead-height: 56px;
    --ytd-watch-flexy-non-player-height: calc(var(--ytd-watch-flexy-masthead-height) + var(--ytd-margin-6x) + var(--ytd-watch-flexy-space-below-player));
    --ytd-watch-flexy-non-player-width: calc(var(--ytd-watch-flexy-sidebar-width) + var(--ytd-margin-6x)*3);
    --ytd-watch-flexy-min-player-height: 240px;
    --ytd-watch-flexy-min-player-width: calc(var(--ytd-watch-flexy-min-player-height)*(var(--ytd-watch-flexy-width-ratio)/var(--ytd-watch-flexy-height-ratio)));
    --ytd-watch-flexy-max-player-height: calc(100vh - var(--ytd-watch-flexy-masthead-height) - var(--ytd-margin-6x) - var(--ytd-watch-flexy-space-below-player));
    --ytd-watch-flexy-max-player-width: calc((100vh - var(--ytd-watch-flexy-masthead-height) - var(--ytd-margin-6x) - var(--ytd-watch-flexy-space-below-player))*(var(--ytd-watch-flexy-width-ratio)/var(--ytd-watch-flexy-height-ratio)));
    --ytd-watch-flexy-scrollbar-width: 15px;
    --ytd-watch-flexy-max-player-width-wide-screen: 1840px;
    --ytd-watch-flexy-space-below-player: 136px;
    --ytd-watch-flexy-panel-max-height: 460px;
    --ytd-watch-flexy-chat-max-height: 460px;
    --ytd-watch-flexy-structured-description-max-height: 460px;
    --ytd-watch-flexy-comments-panel-max-height: 460px;
    --ytd-comments-engagement-panel-content-height: 460px;
    --ytd-watch-flexy-width-ratio: 1;
    --ytd-watch-flexy-height-ratio: 0.5625;
    color: var(--yt-spec-text-primary);
    --yt-button-icon-size: 36px;
