<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Video and Audio from YouTube</title>
    <link href="{{ url_for('static', path='/styles/download_options.css') }}" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', path='/assets/download_logo.svg') }}" type="image/x-icon" />
</head>

<body>
    <main>
        <progress id="progressInput" max="100" value="0" hidden></progress>
        <div class="container">
            <section>
                <img class="container_img" src="{{thumbnail}}" alt="Video preview">
                <span>{{fullname}}</span>
            </section>
            <section>
                <div class="tabs">
                    <div class="tab active" onclick="showTab('videoTab')">Video</div>
                    <div class="tab" onclick="showTab('audioTab')">Audio</div>
                </div>

                <!-- Video options -->
                <div id="videoTab" class="tabContent">
                    <table class="options_table">
                        {% for video_option in video_options %}
                        <tr>
                            <th>{{video_option.format_id}}</th>
                            <th>{{video_option.name}}</th>
                            <th>{{video_option.size}}</th>
                            <th>
                                <button id="{{video_option.format_id}}"
                                    onclick="initDownload('{{video_option.url}}', '{{video_option.format_id}}')">
                                    <span id="span_{{video_option.format_id}}">Download</span>
                                    <div id="loader_{{video_option.format_id}}" class="dots_loader" hidden></div>
                                </button>
                            </th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <!-- Audio options -->
                <div id="audioTab" class="tabContent hidden">
                    <table class="options_table">
                        {% for audio_option in audio_options %}
                        <tr>
                            <th>{{audio_option.format_id}}</th>
                            <th>{{audio_option.name}}</th>
                            <th>{{audio_option.size}}</th>
                            <th>
                                <button id="{{audio_option.format_id}}"
                                    onclick="initDownload('{{audio_option.url}}', '{{audio_option.format_id}}')">
                                    <span id="span_{{audio_option.format_id}}">Download</span>
                                    <div id="loader_{{audio_option.format_id}}" class="dots_loader" hidden></div>
                                </button>
                            </th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </div>
    </main>

    <!-- Placeholder for Python function -->
    <script>
        function analyze(url) {
            window.location.href = `/download_video?url=${url}` //(CAMBIO OJO)
        }

        function showTab(tabName) {
            const videoTab = document.getElementById('videoTab');
            const audioTab = document.getElementById('audioTab');
            const tabs = document.querySelectorAll('.tab');

            if (tabName === 'videoTab') {
                videoTab.classList.remove('hidden');
                audioTab.classList.add('hidden');
                tabs[0].classList.add('active');
                tabs[1].classList.remove('active');
            } else {
                audioTab.classList.remove('hidden');
                videoTab.classList.add('hidden');
                tabs[1].classList.add('active');
                tabs[0].classList.remove('active');
            }
        }

        function showLoader(formatId) {

            const button = document.getElementById(formatId);
            const span = document.getElementById(`span_${formatId}`);
            const loader = document.getElementById(`loader_${formatId}`)

            button.disabled = true;
            span.hidden = true;
            loader.hidden = false;

        }

        function showProgress(value, buttonId) {

            fillProgress(buttonId, value)

        }

        function hiddeProgress(buttonId) {

            fillProgress(buttonId, 0)

            const progressElem = document.getElementById(buttonId);
            progressElem.style.background = 'yellowgreen';
            progressElem.style.color = 'red';

        }

        function hiddenLoader(formatId) {

            const button = document.getElementById(formatId);
            const span = document.getElementById(`span_${formatId}`);
            const loader = document.getElementById(`loader_${formatId}`)

            button.disabled = false;
            span.hidden = false;
            loader.hidden = true;

        }

        async function initDownload(url, formatId) {
            console.log('url(initDownload)===== ', url);
            console.log('\n\n');
            console.log('formatId(initDownload)===== ', formatId);
            console.log('\n\n');
            showLoader(formatId);

            const eventName = 'progressUpdate' + formatId;

            const source = new EventSource(`http://127.0.0.1:8000/get-progress?event_name=${eventName}`);

            try {
                function eventProgress(event) {
                    const progress = JSON.parse(event.data);
                    console.log('ProgressUpdate===== ', progress);
                    showProgress(progress, formatId);
                }

                source.addEventListener(eventName, eventProgress);

                let response = await fetch(url);

                if (!response.ok) throw new Error('Network error');

                const data = (await response.json());

                const domain = window.location.origin;

                const file_path = domain + '/' + data.file_path;

                const link = document.createElement('a');
                link.href = file_path;
                link.download = '';
                link.click();

                hiddenLoader(formatId);

                setTimeout(async () => {
                    await fetch(`/delete-file?file_path=${data.file_path}`, { method: 'DELETE' });
                }, 250) // (CAMBIO 500)

            } catch (error) {
                console.error('Problem downloading in initDownload===== ', error);
            }

            source.close();
            source.removeEventListener(eventName, eventProgress)
            hiddeProgress(formatId);
        }

        const slideColor = '#b4b9bc';
        const rangeColor = 'red';

        function fillProgress(progressId, progressValue) {
            const progressElem = document.getElementById(progressId);
            if (progressElem) {
                const rangeDistance = 100;
                const fromPosition = 0;
                const toPosition = progressValue;
                progressElem.style.background = `linear-gradient(
                    to right,
                    ${slideColor} 0%,
                    ${slideColor} ${(fromPosition / rangeDistance) * 100}%,
                    ${rangeColor} ${(fromPosition / rangeDistance) * 100}%,
                    ${rangeColor} ${(toPosition / rangeDistance) * 100}%, 
                    ${slideColor} ${(toPosition / rangeDistance) * 100}%, 
                    ${slideColor} 100%)`;
            }
        }

    </script>
</body>