<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Video and Audio from YouTube</title>
    <link href="{{ url_for('static', path='/styles/download.css') }}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <section>
            <img class="container_img" src="{{thumbnail}}" alt="Video preview">
        </section>
        <section>
            <!-- Video options -->
            <div class="options_content">

                <div style="width: 100%;">
                    <div class="w3-bar w3-black">
                        <button class="w3-bar-item w3-button" onclick="openCity('Video')">Video</button>
                        <button class="w3-bar-item w3-button" onclick="openCity('Audio')">Audio</button>
                    </div>

                    <!-- Video options -->
                    <div id="Video" class="w3-container option">
                        <table class="options_table">
                            {% for option in video_options %}
                            <tr>
                                <th>{{option.name}}</th>
                                <th>{{option.size}}</th>
                                <th>
                                    <a href="{{option.url}}">
                                        Descargar
                                    </a>
                                </th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <!-- Audio options -->
                    <div id="Audio" class="w3-container option" style="display:none">
                        <table class="options_table">
                            <tr>
                                <th>{{audio_option.name}}</th>
                                <th>{{audio_option.size}}</th>
                                <th>
                                    <a href="{{audio_option.url}}">
                                        Descargar
                                    </a>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <!-- Placeholder for Python function -->
    <script>
        function analyze(url) {
            window.location.href = `/download?url=${url}`
        }

        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("option");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>
</body>

</html>