<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="YouTube free downloader" />
    <meta name="robots" content="index, follow" />
    <title>YouTube Downloader</title>
    <link href="{{ url_for('static', path='/styles/home.css') }}" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', path='/assets/download_logo.svg') }}" type="image/x-icon"/>
</head>

<body>
    <div class="container">
        <section class="download_form__content">
            <h1>Download Video and Audio from YouTube</h1>
            <form onsubmit="show_download_options(event)">
                <input type="text" id="Url_Path" name="url" placeholder="Place YouTube link here..." autocomplete="off" required/>
                <button title="Start" type="submit" aria-label="Start" id="btn-submit" class="btn btn-lg">
                    Start
                </button>
            </form>
        </section>

        <section id="download_options" class="download_options">
            <div id="loader" class="loader_container">
                <span class="loader_text">Loading...</span>
                <div class="loader"></div>
            </div>
        </section>
    </div>

    <!-- Placeholder for Python function -->
    <script>
        function showLoader() {
            const loader = document.getElementById('loader')
            loader.style.display = 'flex'
        }

        function hideLoader() {
            const loader = document.getElementById('loader')
            loader.style.display = 'none'
        }

        function show_download_options(event) {
            event.preventDefault();  

            const url = event.target.url.value;

            const iframe_src = `/download-options?url=${url}`;

            const existing_iframe = document.getElementById('iframe_download_options');

            if (existing_iframe) {
                existing_iframe.remove();
            }

            // 1. Crear el iframe  
            const iframe = document.createElement('iframe');

            const btnSubmit = document.getElementById('btn-submit');

            // 2. Configurar atributos  
            iframe.src = iframe_src; // Cambia esta URL por la que necesites  
            iframe.id = 'iframe_download_options'
            iframe.frameBorder = '0';
            iframe.style.display = 'none'
            iframe.style.overflowY = 'auto'
            iframe.onload = () => {
                btnSubmit.disabled = false;

                hideLoader();

                iframe.width = '100%';
                iframe.height = '300';
                iframe.style.display = 'block'

            }

            // 3. Seleccionar el elemento padre  
            const elementoPadre = document.getElementById('download_options'); // Cambia 'miElemento' por el ID del elemento deseado  
            elementoPadre.style.display = 'flex'
            // 4. Agregar el iframe al elemento padre  
            elementoPadre.appendChild(iframe);

            btnSubmit.disabled = true;

            showLoader();
        }
    </script>
</body>

</html>